  @import url(../fou/OpenSans-Light.ttf);
  @import url(../fou/JosefinSlab-Light.ttf);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
#meun {
		width: 1140px;
		margin: 0 auto;
			
}

#meun li {
	 list-style: none;
	 width: 222px;
	 text-align: center;}
	 
 #meun UL LI:hover > UL {
			display: block;} 
			

#meun li a {
	 text-decoration: none;
	 display: block;
 	 color: #551616;
	 background: #FFD996;
	 padding: 10px;
	border-bottom: 2px solid #fffafa;}
			

#meun UL 	{
		  font: 20px arial;
		display: inline-table;
	}			

#meun LI a:hover {
			color: #551616;
			background: #E1FAF6;
    
} 	
BODY {
    background: #F7F7F7;
    width: 100%;
    height: 100%
}


.logo {
    width: 100%;
    height: 180px;
}

.heading-menu {
    color: #FF0000;
    font-size: 30px;
    text-align: center;
    font-family:  'Josefin Slab', serif;
    font-weight: normal;
    padding-bottom: 10px;
    padding-top: 10px;
}

.heading-menu2 {
    
    color: #FF0000;
    font-size: 15px;
    text-align: center;
    font-family: monospace;
    font-weight: normal;
    padding-bottom: 5px;
}

.heading {
    color: crimson;
    font-size: 30px;
    text-align: center;
    font-family: serif;
    font-weight: normal;
}

.main {
    margin-left: 200px;    
}

.content {
    color: black;
    font-size: 15px;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    padding-bottom: 10px;
}

#top {
    
    background-image: url(../photo/old-paper.jpg);
    width: 100%;
    height: 100%;
    border-left: 2px solid #FEFF46;
    border-right:  2px solid #FEFF46;
}

#menu-mini {
    border-right: 2px solid #FFFFFF;
}

#logo {
    border-bottom: 2px solid #EFFF76;
}

#advertizing {
 border-left: 2px solid #FFFFFF;
}

#cellar {
 border-top:  2px solid #EFFF76;
 background:#97A093;
}

.cellar-text {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    color: aliceblue;
    font-size: 15px;
    font-family: serif;
    font-weight: normal;
}

.running-line {
 padding-top: 5px;
 font-size: 15px;
 color: aliceblue;
}

.greater-content {
    color: black;
    font-size: 20px;
    font-family: 'Open sans', sans-seri;
    font-weight: normal;
    padding-left: 10px;
    padding-top: 15px;
}

.mini-top {
    color: red;
    font-size: 25px;
    font-family: fantasy;
    font-weight: normal;
    padding-left: 10px;
}

.photo {
    margin-left: 150px;
}

.img-2991 {
    margin-left: 150px;
    margin-bottom: 10px;
}

.top-gallery {
 margin-left: 80px;
}

.bottom-photo {
 margin-left: 50px;
 margin-bottom: 10px;
}

.cellar-right {
    float: right;
    padding-right: 2px;
    padding-top: 20px;
    color: aliceblue;
    font-size: 15px;
    font-family: serif;
    font-weight: normal;
}

.cellar-photo {
    border-radius: 10px;
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 5px;
}
